h1{
font-size: 30px;
color: salmon;
}

h2{

font-size:20px;
color:darkmagenta;
}

.big{
font-size: 60px;
}

.uppercase{
text-transform: uppercase;
}

.big.uppercase{
color: fuchsia;
}

span{
color:aqua;
}